html {
  scroll-behavior: smooth;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.raleway {
  font-family: raleway;
}

*::selection {
  background-color: #EBCB8B;
  opacity: .15;
  color: white;
}